/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 80%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
}

#tallyBannerContainer {
    background-image: url('images/banner_rails.png');
    background-repeat: repeat-x;
    background-size: 15% 100%;
    display: block;
    height: 15%;
    width: auto;
}

img#tallyBannerImage {
    display: block;
    margin: auto;
    height: 100%;
    width: auto;
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    #tallyBannerContainer {
        background-size: 12% 100%;
        height: 12%;
    }
}

#search {
    height:40px;
}

#title {
    font-size: 25px;
    font-family: Arial;
}

#criteria {
    font-size: 20px;
    font-family: Arial;
    width: 20%;
    border: 1px solid;
    display: inline;
}

#willingness-distance input#willingness {
    width: 20%;
}

willingness {
    width: 20px;
}

#criteria-button {
    font-size: 20px;
    font-family: Arial;
    border: 1px solid;
}

#reset-button {
    font-size: 20px;
    font-family: Arial;
    border: 1px solid;
}

.legend {
    background: #FFF;
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.legend .color {
    border: 1px solid;
    height: 12px;
    width: 12px;
    margin-right: 3px;
    float: left;
}

.legend .color1 {
    background: #073763;
}

.legend .color2 {
    background: #9fc5e8;

}

.legend .color4 {
    background: #cfe2f3;
}
